{% extends 'base1.html' %}
    {% block content %}
    <!-- <section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="http://g-ecx.images-amazon.com/images/G/31/img16/Wireless/Mobiles/CEEX/Honor6x/NoCashback/4500x900_finalday._UX1500_SX1500_.jpg" alt="" />
						</li>
						<li>
							<img src="http://g-ecx.images-amazon.com/images/G/31/img17/TV/Sanyo/FullHDFest/April/1038817_Sanyo_Festival_4500x900-copy._UX1500_SX1500_.jpg" alt="" />
						</li>
					</ul>
				</div>			
	</section> -->
	<br>
    	<section class="main-content">
    			<div class="row">	
    			{% csrf_token %}			
					<div class="span12">
						<h4>DISCLAIMER</h4>
						<p style="font-size: 15px;">a) Varietz.com <b>DOES NOT SELL ANY PRODUCTS AND IS NOT A PARTY TO ANY TRANSACTION YOU MAY MAKE WITH ANY SELLER/ MARKETPLACE.</b></p>
						<p style="font-size: 15px;">b) Varietz.com does not sell or license any of the products or services listed on the Website and is not acting as an agent of sale or an agent of any merchant or provider of products or services. No endorsemen of any third party products or services is expressed or implied by any information, material or content referred to or included on the Website.</p>
						<p style="font-size: 15px;">c) Varietz.com does not have any responsibility for, or liability related to, any products and services listed on the Website. You should direct any questions, complaints or claims related to any product or service to the appropriate seller or provider.</p>
						<p style="font-size: 15px;">d) Varietz.com has no control over and does not warrant in any way that prices, shipping costs, taxes, products or descriptions provided by sellers or other third parties, or any other content of the Websites is accurate, complete, reliable, current or error-free. <b>SITE CONTENT IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY AND Varietz.com SHALL HAVE NO LIABILITY FOR INACCURACY OR INCOMPLETENESS IN PRODUCT OR SERVICE CONTENT, USER RATINGS OR COMMENTARY, OR OTHER CONTENT ON THE WEBSITE.</b></p>
						<p style="font-size: 15px;">e) Varietz.com is not liable for any delays, inaccuracies, fraud, errors or omissions with respect to the information or the transmission or delivery of all or any part there of, for any damage arising there from or occasioned thereby, or for the results obtained from the use of the information.</p>
						<p style="font-size: 15px;">f) Varietz.com <b>IS NOT LIABLE FOR ANY NEGLIGENCE, ACTS OR OMISSION OF ACTS OF ANY SELLER ON THE WEBSITES. YOU ASSUME THE ENTIRE RISK AS TO THE ACCURACY, ADEQUACY, COMPLETENESS, CURRENCY, VALIDITY AND QUALITY OF ANY INFORMATION RELATING TO THE SERVICES. ANY INFORMATION ON THE WEBSITES CAN CHANGE WITHOUT NOTICE.</b></p>
						<p style="font-size: 15px;">g) The User agrees and undertakes that he/she is accessing the Website and transacting at his/her sole risk and are that he/she is using his/her best and prudent judgment before using any service on the Website, or accessing/using any information displayed thereon.</p>
						<p style="font-size: 15px;">h) The Company does not guarantee that the functions and services contained in the Website will be uninterrupted or error-free, or that the Website or its server will be free of viruses or other harmful components, and the User hereby expressly accepts any and all associated risks involved with the User’s use of the Website.</p>				
					</div>				
				</div>
		</section>
<script script type="text/javascript">

</script>
	
{% endblock %}